@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}
:root {
    --corcinza: #545454;
    --corcinzaclaro: #cecece;
    --fontegeral: "Courier Prime", monospace;
}

body {
    font-family: var(--fontegeral);
}

header {
    background-color: var(--corcinzaclaro);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

#page-title {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

#logo img{
    width: 100px;
}

#nav-bar {
    display: flex;
}

#nav-list {
    display: flex;
    gap: 30px;
}

#nav-list li{
    list-style: none;
}

#nav-list a, #nav-list a:active {
    text-decoration: none;
    color: var(--corcinza);
}

#sobre-mim {
    display: flex;
    align-items: center;
    justify-content: center;
}

#sobre-mim img {
    width: 600px;
}

#me-text {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 5.71% 89px;
    width: 100%;
    background-color: var(--corcinza);
    gap: 22px;
    color: var(--corcinzaclaro);
    align-items: center;
    box-shadow: -8px 8px 20px 5px rgba(0, 0, 0, 0.199);
}

#me-text h2 {
    text-align: center;
}

#me-text a {
    text-decoration: none;
    color: var(--corcinzaclaro);
    padding: 10px;
    width: 200px;
    background-color: var(--corazul);
    text-align: center;
    border-radius: 12px;
}

#projetos {
    background-color: blue;
    height: 500px;
}
